<!DOCTYPE html>
<html>
<head>
    <title>Spam Detection</title>
</head>
<body style="font-family:Arial; padding:20px;">

<h2>📩 Spam Detection System</h2>

<input type="text" id="message" placeholder="Enter message here" style="width:300px; padding:10px;">
<br><br>
<button onclick="checkSpam()">Check Spam</button>

<p id="result"></p>

<script>
function checkSpam() {
    let msg = document.getElementById("message").value;

    fetch("/predict", {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: "message=" + msg
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText = data.result;
    });
}
</script>

</body>
</html>
